<div class="grid-container">

  <div class="planetCard sunBox">
    <div class="sunImage"></div>
    {% planetInfo "Sun", "Type G2V" %}
  </div>

  <div class=" planetCard mercuryBox">
    <div class="mercuryImage"></div>
    {% planetInfo "Mercury", "AU: .39" %}
  </div>

  <div class="planetCard venusBox">
    <div class="venusImage"></div>
    {% planetInfo "Venus", "AU: .72" %}
  </div>

  <div class="planetCard earthBox">
    <div class="earthImage"></div>
    {% planetInfo "Earth", "AU: 1" %}
  </div>  

  <div class="planetCard marsBox">
    <div class="marsImage"></div>
    {% planetInfo "Mars", "AU: 1.52" %}
  </div>

  <div class="planetCard jupiterBox">
    <div class="jupiterImage"></div>
    {% planetInfo "Jupiter", "AU: 5.2" %}
  </div>

  <div class="planetCard saturnBox">
    <div class="saturnImage"></div>
    {% planetInfo "Saturn", "AU: 9.54" %}
  </div>

  <div class="planetCard uranusBox">
    <div class="uranusImage"></div>
    {% planetInfo "Uranus", "AU: 19.2" %}
  </div>

  <div class="planetCard neptuneBox">
    <div class="neptuneImage"></div>
    {% planetInfo "Neptune", "AU: 30.06" %}
  </div>  

</div>