<div class="grid-container">

  <div class="sunBox">
    <div class="sunImage"></div>
        <p>Sun</p>
        <p>Type: G2U</p>
  </div>

  <div class="mercuryBox">
    <div class="mercuryImage"></div>
        <p>Mercury</p>
        <p>.39</p>
    </div>

  <div class="venusBox">
  <div class="venusImage"></div>
  <p>Venus</p>
 <p>.72</p>
  </div>

  <div class="earthBox">
  <div class="earthImage"></div>
  <p>Earth</p>
  <p>UA</p>
  </div>  

  <div class="marsBox">
  <div class="marsImage"></div>
  <p>Mars</p>
  <p>UA</p>
  </div>

  <div class="jupiterBox">
  <div class="jupiterImage"></div>
  <p>Jupiter</p>
  <p>UA</p>
  </div>

  <div class="saturnBox">
  <div class="saturnImage"></div>
  <p>Saturn</p>
  <p>UA</p>
  </div>

  <div class="uranusBox">
  <div class="uranusImage"></div>
  <p>Uranus</p>
  <p>UA</p>
  </div>

  <div class="neptuneBox">
  <div class="neptuneImage"></div>
  <p>Neptune</p>
  <p>UA</p>
  </div>  

</div>