<div class="grid-container">

  <section class="planetCard sunBox">
    <section class="sunImage"></section>
    {% planetInfo "Sun", "Type G2V" %}
  </section>

  <section class=" planetCard mercuryBox">
    <section class="mercuryImage"></section>
    {% planetInfo "Mercury", "AU: .39" %}
  </section>

  <section class="planetCard venusBox">
    <section class="venusImage"></section>
    {% planetInfo "Venus", "AU: .72" %}
  </section>

  <section class="planetCard earthBox">
    <section class="earthImage"></section>
    {% planetInfo "Earth", "AU: 1" %}
  </section>  

  <section class="planetCard marsBox">
    <section class="marsImage"></section>
    {% planetInfo "Mars", "AU: 1.52" %}
  </section>

  <section class="planetCard jupiterBox">
    <section class="jupiterImage"></section>
    {% planetInfo "Jupiter", "AU: 5.2" %}
  </section>

  <section class="planetCard saturnBox">
    <section class="saturnImage"></section>
    {% planetInfo "Saturn", "AU: 9.54" %}
  </section>

  <section class="planetCard uranusBox">
    <section class="uranusImage"></section>
    {% planetInfo "Uranus", "AU: 19.2" %}
  </section>

  <section class="planetCard neptuneBox">
    <section class="neptuneImage"></section>
    {% planetInfo "Neptune", "AU: 30.06" %}
  </section>  

</div>