<div class="grid-container">

  <div class="sunBox">
    <div class="sunImage"></div>
    <p>Sun</p>
    <p>Type: G2U</p>
  </div>

  <div class="mercuryBox">
    <div class="mercuryImage"></div>
    <p>Mercury</p>
    <p>.39</p>
  </div>

  <div class="venusBox">
    <div class="venusImage"></div>
    <p>Venus</p>
    <p>.72</p>
  </div>

  <div class="earthBox">
    <div class="earthImage"></div>
    <p>Earth</p>
    <p>1</p>
  </div>  

  <div class="marsBox">
    <div class="marsImage"></div>
    <p>Mars</p>
    <p>1.52</p>
  </div>

  <div class="jupiterBox">
    <div class="jupiterImage"></div>
    <p>Jupiter</p>
    <p>5.2</p>
  </div>

  <div class="saturnBox">
    <div class="saturnImage"></div>
    <p>Saturn</p>
    <p>9.54</p>
  </div>

  <div class="uranusBox">
    <div class="uranusImage"></div>
    <p>Uranus</p>
    <p>19.2</p>
  </div>

  <div class="neptuneBox">
    <div class="neptuneImage"></div>
    <p>Neptune</p>
    <p>30.06</p>
  </div>  

</div>